# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints
*.ipynb

# Data
data/
*.csv
*.tsv
*.parquet

# Environment
.env
.environment.yml

# OS
.DS_Store
Thumbs.db

# VSCode / IDE
.vscode/
.idea/

# Dataset
data/ml-1m/
data/ml-sample/
data/*


# Ignore model files (optional)
models/
*.pkl
*.h5
*.pt


# Logs
*.log

# Virtualenvs
venv/
