# ===========================
# Ignore datasets and large files
# ===========================
data/
data/ml-1m/
data/ml-sample/

# Ignore trained model files
models/
*.pkl
*.h5
*.pt
*.joblib

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.env/
.venv/
env/
movie_recommender/
movie-recsys/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Streamlit secrets (contains API keys)
.streamlit/secrets.toml

